<CustomerTheme>

    <team_name_filter slot=filters />
  
  
      <!-- Basic table, will show all rows and columns in the seed_financial_data layer -->
      <TTable t-layer="seed_financial_data" />
  
      <!-- ----------------Table Configurations---------------- -->
      <!-- Table with paging -->
      <TTable 
          t-layer="seed_financial_data" 
          title="Paging" 
          :can-page="true" 
          :rows-per-page="3"/>
  
      <!-- Table with server-side paging 
           Note: In order for this to work the layer needs to include:
              {% if filter('limit') %}
              LIMIT {{  filter('limit') }}
              {% endif %}
              {% if filter('offset') %}
              OFFSET {{  filter('offset') }}
              {% endif %}
      -->
      <TTable 
          t-layer="team_games_table_data" 
          title="Server Side Paging" 
          :canPageServer="true" 
          :rowsPerPage="3"> 
      </TTable>
  
      <!-- Table without sorting -->
      <TTable 
          t-layer="seed_financial_data" 
          title="No Sorting" 
          :can-sort="false" />
  
      <!-- Table without searching -->
      <TTable 
          t-layer="seed_financial_data" 
          title="No Searching"
          :can-search="false" />
  
      <!-- Table with radio buttons -->
      <TTable 
          t-layer="seed_financial_data" 
          title="Radio Buttons"
          :show-radio-buttons="true" />
  
      <!-- Table with checkboxes buttons -->
      <TTable 
          t-layer="seed_financial_data" 
          title="Checkboxes"
          :show-checkboxes="true" />
  
      <!-- Table with custom no data message -->
      <TTable 
          t-layer="seed_financial_data" 
          title="Custom No Data Message"
          no-data-message="No Data Here :'(" />
  
      <!-- Table with fixed header-->
      <TTable 
          t-layer="seed_financial_data" 
          title="Fixed Header"
          :is-header-fixed="true" />
      
      <!-- Table with descending default sort direction-->
      <TTable 
          t-layer="seed_financial_data" 
          title="Descending Sort"
          sort-direction="desc"  />
      
      <!-- Table with grouping, will show all rows and columns in the seed_financial_data layer except the rows
       will be grouped by the department column and each unique department will be the group header -->
      <TTable 
          t-layer="seed_financial_data" 
          group-by-column="department" 
          title="Grouping">
          <!-- Group headers can be overriden -->
          <template v-slot:group_header="group">
              <span style="font-size: 1.25em">{{ group.header }}</span> 
          </template>
      </TTable>
  
      <!-- ----------------Column Configurations---------------- -->
      <!-- Table with overidden header for the "target_total" column in the seed_financial_data  -->
      <TTable 
          t-layer="seed_financial_data"
          title="New Header for target_total column">
          <t-column header="Target Total" id-or-name="target_total" />
      </TTable>
  
      <!-- Table with overriden sort direction column
      Note: both sort direction and sort-priority need to be provided, that is a place for future improvement
       -->
      <TTable 
          t-layer="seed_financial_data"  
          title="Overriden Sort Direction Column"  >
          <t-column id-or-name="department" sort-direction="desc"  sort-priority="1"/>
      </TTable>
  
      <!-- Table with overriden sort priorities
      Note: both sort direction and sort-priority need to be provided, that is a place for future improvement
       -->
      <TTable 
          t-layer="seed_financial_data"  
          title="Overriden Sort Priorities" >
          <t-column id-or-name="year" sort-direction="asc" sort-priority="1"/>
          <t-column id-or-name="department" sort-direction="desc" sort-priority="2"/>
      </TTable>
      
      <!-- Table with a calculated column -->
      <TTable 
          t-layer="seed_financial_data"  
          title="New Calculated Column"  >
          <t-column header="Percent of Target" id-or-name="percentOfTarget">
              <i>{{((row.total.value - row.target_total.value)/row.target_total.value * 100).toFixed(2)}}%</i>
          </t-column>
      </TTable>
      
      <!-- ----------------Advanced Configurations---------------- -->
      <!-- Table with Detail Rows to show more data -->
      <TTable 
          t-layer="seed_financial_data" 
          title="Detail Rows">
          <template v-slot:detail_row_slot="row">
              {{row}}
          </template>
      </TTable>
  
      <!-- Table with Detail Rows that can be collapsed and expanded to show more data -->
      <TTable 
          t-layer="seed_financial_data" 
          title="Expandable Detail Rows"
          :can-collapse-detail-rows="true">
          <template v-slot:detail_row_slot="row">
              {{row}}
          </template>
      </TTable>
  
  
      <!-- Table with excluded columns that are available to other columns -->
      <TTable 
          t-layer="seed_financial_data" 
          title="Excluded column"
          :exludeFromColumns="['year']">
        <t-column header="Department" id-or-name="department">
          {{rendered_value}} in {{row.year.value}}
        </t-column>
      </TTable>
  
      <!-- Demo -->
      <TTable 
          t-layer="seed_financial_data" 
          title="All The Options" 
          :can-search="true" 
          :is-header-fixed="true" 
          no-data-message="No Data Here :'("
          :can-sort="true" 
          sort-direction="desc" 
          :can-page="true" 
          :rows-per-page="3"
          :show-checkboxes="true" 
          :show-radio-buttons="true">
          <t-column header="YEAR" id-or-name="year" />
          <t-column header="-Department-" id-or-name="department" sort-direction="desc" sort-priority="2">
              {{rendered_value}} department
          </t-column>
          <t-column id-or-name="total" sort-direction="asc" sort-priority="1">
              <i>{{rendered_value}}</i>
          </t-column>
          <t-column header="Percent of Target" id-or-name="percentOfTarget">
              <i>{{((row.total.value - row.target_total.value)/row.target_total.value * 100).toFixed(2)}}%</i>
          </t-column>
      </TTable>
  </CustomerTheme>