<template>
    <div class="relative w-full md:w-56" :class='{"h-14": expanded}' @mouseleave='close'>
        <div class="pb-1 text-xs font-semibold text-primaryFontColor" v-if='metadata.title'>{{ metadata.title }}</div>
        <div class="h-5" v-else></div>
        <div
            class="flex items-center w-full pr-3 overflow-hidden leading-tight border rounded appearance-none border-filterBorderColor bg-filterBackgroundColor text-filterFontColor focus:outline-none primaryFilterRadius"
            @click='open'
            :class='expanded ? "absolute h-max z-50" : "relative h-9"'
            ref='container'
        >
            <button
                type="button"
                class="relative left-0 right-0 inline-flex w-full py-2 pl-2 overflow-hidden bg-transparent rounded-lg rounded-b-none focus:z-10 focus:outline-none"
                @mouseenter='expandSelectButton'
            >
                <div class="relative flex h-full gap-1 overflow-hidden" :class="{'flex-wrap': expanded }">
                    <div v-if='!selectedItems || !selectedItems.length' class="w-auto text-left">
                        Select Multiple...
                    </div>
                    <div
                        class="h-full px-2 text-xs rounded-3xl bg-filterHighlightColor text-filterFontHighlightColor min-w-max"
                        v-for="(item, index) in selectedItems"
                        :key="index"
                        @click="removeItem(item, index)"
                    >
                        {{ item.name }}
                        <span class="ml-1">x</span>
                    </div>
                </div>
            </button>
            <span v-if='selectedItems && selectedItems.length && selectedItemsCount' class="pl-2">{{selectedItems.length}}</span>
            <t-loading-spinner position="relative" v-else-if='loading' />
            <chevron-down-icon v-else />
        </div>
        <div
            class="absolute z-50 block w-full overflow-auto leading-tight border rounded shadow-xl appearance-none border-filterBorderColor bg-filterMenuColor text-filterFontColor focus:outline-none max-h-56"
            v-if="showMenu"
            :style='{"margin-top": menuMargin}'
        >
            <button
                type="button"
                class="relative inline-flex w-full px-4 py-3 bg-transparent border-b-2 focus:z-10 focus:outline-none border-filterBorderColor focus:text-grayscaleOneColor hover:text-filterFontHighlightColor hover:bg-filterHighlightColor"
                v-for="(item, index) in menu"
                :key="index"
                @click='selectItem(item, index)'
                v-if='!selectedItems.includes(item)'
            >
                <div class="text-sm h-max" >
                    {{ item.name }}
                </div>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MultiSelect",
        data: () => ({
            showMenu: false,
            selected_internal: '',
            expanded: false,
            menuMargin: '0px',
            is_filter: true,
            selectedItemsCount: true,
        }),
        methods: {
            selectItem(item, index) {
                const selectedItems = this.selectedItems || [];
                const { id, name } = item;
                selectedItems.push({ id, name });
                this.selectedItems = selectedItems;
            },
            removeItem(selectedItem, index) {
                let selectedItems = this.selectedItems || [];
                selectedItems = this.selectedItems.filter(item => item.id !== selectedItem.id);
                this.selectedItems = selectedItems;
            },
            onVisualizationInit() {
                const initial_value = this.getFilterValue("selected_items");
                if (initial_value) {
                    this.selected_internal = initial_value;
                } else if (this.config.default_value) {
                    this.selected_internal = this.config.default_value;
                } else {
                    return this.unsetFilterValue('selected_items', true);
                }
                return this.setFilterValue("selected_items", this.selected_internal, true);
            },
            handleMenuMargin() {
                this.$nextTick(() => {
                    const container = this.$refs.container;
                    if (container) {
                        const height = container.clientHeight;
                        return this.menuMargin = `${height}px`;
                    }
                    return this.menuMargin = 0;
                })
            },
            close() {
                this.showMenu = false;
                this.expanded = false;
                this.handleMenuMargin();
                this.selectedItemsCount = true;
            },
            open() {
                this.showMenu = true;
                this.handleMenuMargin();
                this.expandSelectButton();
            },
            expandSelectButton() {
                this.expanded = true;
                this.handleMenuMargin();
                this.selectedItemsCount = false;
            }
        },
        computed: {
            selectedItems: {
                get() {
                    const ids = this.selected_internal ? this.selected_internal.split('|') : [];
                    return this.menu.filter(item => ids.includes(item.id));
                },
                set(value) {
                    this.handleMenuMargin();
                    const selected = value.map(item => item.id).join('|');
                    this.selected_internal = selected;
                    this.setFilterValue("selected_items", selected, true);
                    if (!value || !value.length) {
                        this.unsetFilterValue('selected_items', true);
                    }
                }
            },
            names() {
                const column_name = this.findColumnByTag('names');
                if (column_name) return this.getColumn(column_name);
            },
            ids() {
                const column_name = this.findColumnByTag('ids');
                if (column_name) return this.getColumn(column_name);
            },
            menu() {
                let menu = [];
                for (let index in this.names) {
                    const id = this.ids[index];
                    const name = this.names[index];
                    menu.push({ id, name });
                }
                return menu;
            }
        },
    }
</script>