<template>
  <plotly />
</template>

<figure>
  { {% set colors = var('bar_colors') %} {% set font_family = var('font_family')
  %} {% set font_color = var('font_color') %} {% set font_size =
  var('font_size') %} {% set tickfont_family = var('tickfont_family') %} {% set
  tickfont_color = var('tickfont_color') %} {% set tickfont_size =
  var('tickfont_size') %} {% set hover_label_bg = var('hover_label_bg') %}
  "data": [ {% for measure in measures %} { "type": "bar", "marker" : { {% if
  colors and colors|length %} "color" : "{{ colors[loop.index-1] }}" {% else %}
  "color" : "rgba(29, 34, 96,1)" {% endif %} }, "name": "{{
  column_metadata(measure,'label') }}", {% if
  config.bar_orientation=='horizontal' %} "x": {{ column_data(measure) }}, "y":
  {{ column_data(dimensions[0]) }}, "orientation": "h" {% elif
  config.bar_orientation=='vertical' %} "x": {{ column_data(dimensions[0]) }},
  "y": {{ column_data(measure) }}, "orientation": "v" {% else %} "x": {{
  column_data(dimensions[0]) }}, "y": {{ column_data(measure) }}, "orientation":
  "v" {% endif %} }{% if not loop.last %},{%endif%} {% endfor %} ], "layout" : {
  "hovermode": "x unified", "plot_bgcolor" : "rgba(0,0,0,0)", "paper_bgcolor" :
  "rgba(0,0,0,0)", "font" : { {% if font_family %} "family" : "{{ font_family
  }}" {% else %} "family": "Open Sans" {% endif %}, {% if font_color %} "color"
  : "{{ font_color }}" {% else %} "color" : "#161F3D" {% endif %}, {% if
  font_size %} "size" : "{{ font_size }}" {% else %} "size": 10 {% endif %} },
  "xaxis" : { "tickfont" : { {% if tickfont_family %} "family" : "{{
  tickfont_family }}" {% else %} "family": "Open Sans" {% endif %}, {% if
  tickfont_color %} "color" : "{{ tickfont_color }}" {% else %} "color" :
  "#161F3D" {% endif %}, {% if tickfont_size %} "size" : "{{ tickfont_size }}"
  {% else %} "size": 11 {% endif %} }, {% if config.x_grid=='show' %}
  "showgrid": true {% elif config.x_grid=='hide' %} "showgrid": false {% else %}
  "showgrid": false {% endif %}, {% if config.x_labels=='hide' %}
  "showticklabels": false {% elif config.x_labels=='show' %} "showticklabels":
  true {% else %} "showticklabels": true {% endif %}, {% if
  config.x_axis=='hide' %} "zeroline" : false {% elif config.x_axis=='show' %}
  "zeroline" : true {% else %} "zeroline" : true {% endif %}, "showline" : true,
  "linewidth" : 7, "linecolor" : "rgba(0,0,0,0)", "color" : "rgba(0, 0, 0,
  0.65)", "showline" : true, "title" : { {% if config.x_title %} "text": "{{
  config.x_title }}" {% else %} "text" : "" {% endif %}, "font": { {% if
  font_family %} "family" : "{{ font_family }}" {% else %} "family": "Open Sans"
  {% endif %}, {% if font_color %} "color" : "{{ font_color }}" {% else %}
  "color" : "#161F3D" {% endif %}, {% if font_size %} "size" : "{{ font_size }}"
  {% else %} "size": 11 {% endif %} } } }, "yaxis" : { "tickfont" : { {% if
  tickfont_family %} "family" : "{{ tickfont_family }}" {% else %} "family":
  "Open Sans" {% endif %}, {% if tickfont_color %} "color" : "{{ tickfont_color
  }}" {% else %} "color" : "#161F3D" {% endif %}, {% if tickfont_size %} "size"
  : "{{ tickfont_size }}" {% else %} "size": 11 {% endif %} }, {% if
  config.y_grid=='show' %} "showgrid": true {% elif config.y_grid=='hide'%}
  "showgrid": false {% else %} "showgrid": true {% endif %}, {% if
  config.y_labels=='hide' %} "showticklabels": false {% elif
  config.y_labels=='show' %} "showticklabels": true {% else %} "showticklabels":
  true {% endif %}, {% if config.y_axis=='hide' %} "zeroline" : false {% elif
  config.y_axis=='show' %} "zeroline" : true {% else %} "zeroline" : true {%
  endif %}, "showline" : true, "linewidth" : 7, "linecolor" : "rgba(0,0,0,0)",
  "color" : "rgba(0, 0, 0, 0.65)", "zerolinecolor" : "#eee", "gridcolor" :
  "#eee", "title" : { {% if config.y_title %} "text": "{{ config.y_title }}" {%
  else %} "text" : "" {% endif %}, "font": { {% if font_family %} "family" : "{{
  font_family }}" {% else %} "family": "Open Sans" {% endif %}, {% if font_color
  %} "color" : "{{ font_color }}" {% else %} "color" : "#161F3D" {% endif %}, {%
  if font_size %} "size" : "{{ font_size }}" {% else %} "size": 11 {% endif %} }
  } }, "hoverlabel": { {% if hover_label_bg %} "bgcolor" : "{{ hover_label_bg
  }}" {% else %} "bgcolor" : "rgba(232,230,230,0.7)" {% endif %}, {% if
  hover_label_bg %} "bordercolor" : "{{ hover_label_bg }}" {% else %}
  "bordercolor" : "rgba(232,230,230,0.7)" {% endif %} }, {% if config.bar_type
  %} "barmode" : "{{ config.bar_type }}" {% else %} "barmode" : "stack" {% endif
  %}, "bargap" : 0.35, "bargroupgap" : 0.11, "autosize": true, "automargin":
  true, {% if config.legend=='show' %} "showlegend": true {% elif
  config.legend=='hide' %} "showlegend": false {% else %} "showlegend":false {%
  endif %}, "legend" : { "orientation": "v", "x": 0.01, "y": 1.1 }, {% if
  config.margin =='small' %} "margin" : { "l" : 10, "r" : 10, "t":10, "b":10,
  "pad": 0 } {% else %} "margin" : { "l" : 70, "r" : 30, "t":30, "b":60, "pad":
  0 } {% endif %} } }
</figure>
